.back{
    background-color: rgba(247, 245, 245, 0.76);
    
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 2%;
    padding: 2%;
    border-radius: 8px;
    width:75%;
   
    
  }