
body, h1, h2, p {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f7f7f7;
}

header {
    
    color: #fff;
    padding: 20px;
    text-align: center;
}

header h1 {
    font-size: 24px;
}

main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background: transparent ;
    color: #f7f7f7; ;
    
}

.faq {
    margin-bottom: 20px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
}

.faq h2 {
    font-size: 18px;
    margin-bottom: 5px;
}

.faq p {
    font-size: 16px;
}

